.pagination
    padding-top: 150px
    &__items
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 150px
        grid-auto-rows: 150px
        column-gap: 20px
        grid-row-gap: 20px
        min-height: 320px
    &__item
        border: 1px solid #000
        display: grid
        place-items: center
        color: #1E90FF
        font-size: 1.5rem
    &__nav
        position: relative
        display: grid
        place-items: center
        margin-top: 30px
        // &-btns
        //     position: absolute
        &-btn
            position: absolute
            width: 50px
            height: 20px
            top: 50%
            transform: translateY(-50%)
            cursor: pointer
            &_prev
                left: 150px
            &_next
                right: 150px
        
    &__page
        &-container
            
            display: flex
            justify-content: center
            gap: 10px
        list-style: none
        min-width: 50px
        min-height: 30px
        border: 1px solid #000
        display: grid
        place-items: center
        cursor: pointer
        &:hover
            background-color: #E9967A

.active-page
    background-color: #E9967A
